
.vs/DemoWebTemplate/FileContentIndex/5a232179-7c4d-45fe-a102-ee9c9ea0e94a.vsidx
.vs/DemoWebTemplate/FileContentIndex/96bf2b4c-2a3a-448c-96ca-378a76da23ab.vsidx
.vs/DemoWebTemplate/FileContentIndex/read.lock
.vs/DemoWebTemplate/v17/.suo
.vs/ProjectEvaluation/demowebtemplate.metadata.v5.1
.vs/ProjectEvaluation/demowebtemplate.projects.v5.1
bin/Debug/net6.0/DemoWebTemplate.dll
bin/Debug/net6.0/DemoWebTemplate.pdb
bin/Debug/net6.0/DemoWebTemplate.staticwebassets.runtime.json
obj/Debug/net6.0/DemoWebTemplate.assets.cache
obj/Debug/net6.0/DemoWebTemplate.csproj.AssemblyReference.cache
obj/Debug/net6.0/DemoWebTemplate.csproj.FileListAbsolute.txt
obj/Debug/net6.0/DemoWebTemplate.dll
obj/Debug/net6.0/DemoWebTemplate.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/DemoWebTemplate.genruntimeconfig.cache
obj/Debug/net6.0/DemoWebTemplate.pdb
obj/Debug/net6.0/ref/DemoWebTemplate.dll
obj/Debug/net6.0/refint/DemoWebTemplate.dll
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/DemoWebTemplate.csproj.nuget.dgspec.json
obj/DemoWebTemplate.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
.vs/DemoWebTemplate/FileContentIndex/d708c830-0e9c-493f-9df7-05fe4447da95.vsidx
.vs/DemoWebTemplate/FileContentIndex/e0ae2852-0a34-4463-8ae0-36353e0500fa.vsidx
.vs/DemoWebTemplate/FileContentIndex/write.lock
